<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- load Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <!-- Load jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>     <!-- Load MDL -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
     <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="/login/groupChoose.js"></script>
  </head>
  <body ng-app="groupChoose">
    <h1>Choose a group</h1>
    <div ng-controller="groupChooseCtrl">
        <div ng-repeat="group in groups">
            <a ng-click="groupChosen(group._id)">{{ group.name }}</a>
        </div>
    </div>
  </body>
</html>