.fullwidth {
    width: 100%;
}

.member-table {
    border: none;
}

.main-button {
    position: fixed;
    bottom: -4px;
    right: 10px;    
}

.large-button {
    height: 48px;
    width: 48px;
}

.large-button > i {
    font-size: 40px;
    left: 35% !important;
}

.myRefIsGood {
    --buttonSize: 35px;
}

.myRefIsGood.mdl-button--fab_flinger-container {
    position: unset;
}

.myRefIsGood.mdl-button--fab_flinger-container .mdl-button--fab {
    height: var(--buttonSize);
    width: var(--buttonSize);
    min-width: var(--buttonSize);
}