.fullwidth {
    width: 100%;
}

.member-table {
    border: none;
}

.member-name {
    font-size: 1.5rem; 
    display: inline-block; 
    margin-bottom: 1rem;
}

.member-property {
    float: left;
    height: 36px;
    line-height: 36px;
    text-align: center;
}

.main-button {
    position: fixed;
    bottom: -4px;
    right: 10px;    
}

.large-button {
    height: 48px;
    width: 48px;
}

.large-button > i {
    font-size: 40px;
    left: 35% !important;
}

.vbni-button--fab_flinger-container {
    right: 20px !important;
}

.getmdl-select__fix-height .mdl-menu__container .mdl-menu {
    max-height: 230px !important;
}

.myRefIsGood {
    --buttonSize: 35px;
    right: 0;
    left: 0em;
}

.myRefIsGood.mdl-button--fab_flinger-container .mdl-button--mini-fab {
    height: var(--buttonSize);
    width: var(--buttonSize);
    min-width: var(--buttonSize);
}

.spinner-center {
    margin-left: 50%;
    margin-top : 20%;
}

.manage-button {
    margin-right: 10px;
}

#add_member_dialog {
    width: 400px;
    height: 250px;
}

.avatar {
    border-radius: 50%;
    height: 42px;
    margin: 8px 0 8px 8px;
    outline: 0;
    vertical-align: top;
    width: 42px;
}

.nav-item {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    opacity: .87;
    flex-shrink: 0;
    padding: 16px 40px;
    margin: 0;
    color: #757575;
    display: block;
}
.nav-item:hover {
    background-color: rgb(224,224,224);
}

.change-image {
    background: rgba(0,0,0,.54);
    color: #fff;
    bottom: 0px;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
    position: absolute;
    padding: 7px 0;
    text-align: center;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    z-index: 100;
}

.user-image-span {
    border-radius: 50%;
    overflow: hidden;
    height: 96px;
    width: 96px;
    outline: 0;
    position: relative;
    display: block;
    cursor: pointer;
}

.big-user-image {
    position: absolute;
    width: 100%;
}

#user-profile {
    width: 350px;
    top: 60px;
    left: calc(100% - 400px);
    position: absolute;
    -webkit-animation-name: fade; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */    
}

@-webkit-keyframes fade {
    from {display:block;opacity: 0;}
    to {display:none;opacity:1;}
}

.arrow-up {
    position: absolute;
    top: -8px;
    left: 324px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
  }

@media screen and (max-width: 1024px) {
    .arrow-up {
        left: 347px;
    }
}

.user-info {
    margin: 10px;
}

.fixed-footer {
    padding: 4px 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 100;
}

.main-content {
    padding-top: 75px;
    padding-bottom: 60px;
}

.bottom-border {
    border-bottom: white 1px dashed;
}