<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">
        <button class="mdl-button mdl-js-button mdl-button--raised">
            Delete
        </button>
    </div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
</div>
  