<div>
    <h3>My Group Meetings</h3>

    <div>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Host</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="meeting in meetings">
                    <td>{{meeting.date}}</td>
                    <td>{{meeting.host}}</td>
                    <td>{{meeting.summary}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>