<div class="mdl-grid">
    <!-- Members managment -->
    <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-spinner mdl-js-spinner mdl-spinner--single-color is-active spinner-center" ng-show="members == undefined"></div>
        <div class="fullwidth mdl-card mdl-shadow--2dp" ng-show="members != undefined">
            <!-- Card Header -->
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text">Group Members</h3>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-grid">
                    <!-- Action buttons -->
                    <div class="mdl-cell mdl-cell--12-col">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--red manage-button" ng-click="deleteMembers()">
                            Delete
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised manage-button" ng-click="addMemberClick()">
                            Add Member
                        </button>
                    </div>
                    <!-- Members table -->
                    <div class="mdl-cell mdl-cell--12-col">
                        <table id="manage__group-members" class="mdl-data-table member-table">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="table-header">
                                            <input type="checkbox" id="table-header" class="mdl-checkbox__input" />
                                        </label>
                                    </th>
                                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                                    <th class="mdl-data-table__cell--non-numeric">Job</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="member in members">
                                    <td class="mdl-data-table__cell--non-numeric manage__username" style="display: none">{{member._id}}</td>
                                    <td>
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" ng-attr-for="{{row[$index]}}">
                                            <input type="checkbox" ng-attr-id="{{row[$index]}}" class="mdl-checkbox__input" />
                                        </label>
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">{{member.firstName}} {{member.lastName}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{member.job}}</td>
                                </tr> 
                            </tbody>
                        </table>        
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <!-- Meetings managments-->
    <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-spinner mdl-js-spinner mdl-spinner--single-color is-active spinner-center" ng-show="meetings == undefined"></div>
        <div class="fullwidth mdl-card mdl-shadow--2dp" ng-show="meetings != undefined">
            <!-- Card Header -->
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text">Group Meetings</h3>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-grid">
                    <!-- Action buttons -->
                    <div class="mdl-cell mdl-cell--12-col">
                        <button class="mdl-button mdl-js-button mdl-button--raised manage-button" ng-click="addMeetingClick()">
                            Add Meeting
                        </button>
                    </div>
                    <!-- Mettings table -->
                    <div class="mdl-cell mdl-cell--12-col">
                        <table class="mdl-data-table mdl-js-data-table member-table fullwidth">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Date</th>
                                    <th class="mdl-data-table__cell--non-numeric">Presentor</th>
                                    <th class="mdl-data-table__cell--non-numeric">Locatiom</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="meeting in meetings" on-finish-render="ngRepeatFinished">
                                    <td class="mdl-data-table__cell--non-numeric">{{meeting.date.toLocaleString()}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{meeting.presentor}}</td>
                                    <td class="mdl-data-table__cell--non-numeric" title={{meeting.location}}>{{meeting.location}}</td>
                                </tr> 
                            </tbody>
                        </table>        
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <div>
        <!-- Add member dialog -->
        <dialog id="add_member_dialog" class="mdl-dialog">
            <h3 class="mdl-dialog__title">Add Member to Group</h3>
            <div class="mdl-dialog__content">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
                    <input type="text" ng-model="memberToRegisterText" class="mdl-textfield__input" id="member-awaiting-register" required readonly />
                    <input type="hidden" ng-model="memberToRegisterText" name="member-awaiting-register__hidden" />
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="member-awaiting-register" class="mdl-textfield__label">Qualifiers</label>
                    <ul for="member-awaiting-register__hidden" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li class="mdl-menu__item" ng-repeat="register in membersAwaitingRegister" on-finish-render="ngRepeatFinished" ng-click="setMemberToRegister(register)">{{register.firstName}} {{register.lastName}}</li>
                    </ul>
                </div>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button" ng-click="closeAddMemberDialog()">Close</button>
                <button type="button" class="mdl-button mdl-button--colored mdl-color--green" ng-click="addMemberToGroup(memberToRegister)">Add</button>
            </div>
        </dialog>
        <!-- Add meeting dialog -->
        <dialog id="add_meeting_dialog" class="mdl-dialog" style="width:400px">
            <h3 class="mdl-dialog__title">Add Meetings for Group</h3>
            <div class="mdl-dialog__content" style="padding: 20px 5px 24px;">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <!-- Presentor -->
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
                            <input type="text" ng-model="meetingPresentor" class="mdl-textfield__input" id="meeting_presentor" required readonly />
                            <input type="hidden" ng-model="meetingPresentor" name="meeting_presentor__hidden" />
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                            <label for="meeting_presentor" class="mdl-textfield__label">Presentor</label>
                            <ul for="meeting_presentor__hidden" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                <li class="mdl-menu__item" ng-repeat="member in members" on-finish-render="ngRepeatFinished">{{member.firstName}} {{member.lastName}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <!-- Date of meeting -->    
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col" style="margin-top: -5px;">
                            <input ng-model="meetingDate" class="mdl-textfield__input" type="date" id="date">
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <!-- Location -->
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
                            <input ng-model="meetingLocation" class="mdl-textfield__input" type="text" id="Location">
                            <label class="mdl-textfield__label" for="Location">Meeting Location</label>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <!-- Summary -->
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%"> 
                            <textarea ng-model="meetingSummary" class="mdl-textfield__input" type="text" rows="1" id="Summary"/>
                            <label class="mdl-textfield__label" for="Summary">Summary</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button" ng-click="closeAddMeetingDialog()">Close</button>
                <button type="button" class="mdl-button mdl-button--colored mdl-color--green" ng-click="addMeeting()">Add</button>
            </div>
        </dialog>
        <script>
            var dialog = document.querySelector('#add_member_dialog');
            dialogPolyfill.registerDialog(dialog);
            dialog = document.querySelector('#add_meeting_dialog');
            dialogPolyfill.registerDialog(dialog);
        </script>
    </div>
</div>