<div class="mdl-grid">
    <div ng-if="noGroup" class="mdl-cell mdl-cell--6-col mdl-cell--12-phone">
        <h3 class="mdl-card__title-text">You do not belong to any group!</h3>
    </div>
    <div class="mdl-spinner mdl-js-spinner mdl-spinner--single-color is-active spinner-center" ng-show="members == undefined && !noGroup"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-phone" ng-repeat="member in members">
        <!-- Card contains the table -->
        <div class="fullwidth mdl-card mdl-shadow--2dp">
            <!-- Card Header -->
            <div class="mdl-card__title">
                <img ng-if="member.profilePicture" src="{{member.profilePicture}}" style="width: 50px; border-radius: 50%">
                <img ng-if="!member.profilePicture" src="images/anonymous.png" style="width: 50px; border-radius: 50%">
                <span style="padding-left: 15px">
                    <h3 class="mdl-card__title-text">{{member.firstName}} {{member.lastName}}</h3>
                </span>
            </div>
            <div class="mdl-card__supporting-text">
                <span>
                    {{member.details}}
                </span>
                <table class="mdl-data-table mdl-js-data-table member-table fullwidth">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Job</th>
                            <th class="mdl-data-table__cell--non-numeric">Phone</th>
                            <th class="mdl-data-table__cell--non-numeric">Business website</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{member.job}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{member.phone}}</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <label class="mdl-button mdl-js-button mdl-button--icon" for="website-link">
                                        <i class="material-icons" ng-click="openTab(member.website)">open_in_new</i>
                              </label>
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>