<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-phone" ng-repeat="member in members">
            <!-- Card contains the table -->
            <div class="group-card mdl-card mdl-shadow--2dp">
                <!-- Card Header -->
                <div class="mdl-card__title">
                    <i class="material-icons  mdl-list__item-avatar">person</i>                        
                    <span>
                        <h3 class="mdl-card__title-text">{{member.firstName}} {{member.lastName}}</h3>
                    </span>
                </div>
                <div class="mdl-card__supporting-text">
                    <span>
                        {{member.details}}
                    </span>
                    <table class="mdl-data-table mdl-js-data-table member-table fullwidth">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">
                                    Job
                                </th>
                                <th class="mdl-data-table__cell--non-numeric">
                                    Phone
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{member.job}}
                                </td>
                                <td>
                                    {{member.phone}}
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>