<div>
  <div class="mdl-card-square mdl-card mdl-shadow--2dp" style="width:100%;">
    <div class="mdl-card__title" style="background-color: #3f51b5; color:white">
      <h2 class="mdl-card__title-text">Registration</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <form name="registerform">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="display: block; width:100%;">
          <input class="mdl-textfield__input" type="text" name="userName" id="username" ng-model="user.userName" required>
          <label class="mdl-textfield__label" for="username">User Name</label>
          <span ng-show="registerform.userName.$touched && registerform.userName.$invalid">User name is required</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="display: block; width:100%;">
          <input class="mdl-textfield__input" type="password" name="password" ng-model="user.password" required>
          <label class="mdl-textfield__label" for="password">Password</label>
          <span ng-show="registerform.userName.$touched && registerform.userName.$invalid">Password is required</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="display: block; width:100%;">
          <input class="mdl-textfield__input" type="text" name="firstname" ng-model="user.firstName" required>
          <label class="mdl-textfield__label" for="firstname">First Name</label>
          <span ng-show="registerform.userName.$touched && registerform.userName.$invalid">First Name is required</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="display: block; width:100%;">
          <input class="mdl-textfield__input" type="text" name="lastname" ng-model="user.lastName" required>
          <label class="mdl-textfield__label" for="lastname">Last Name</label>
          <span ng-show="registerform.userName.$touched && registerform.userName.$invalid">Last name is required</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="display: block; width:100%;">
          <input class="mdl-textfield__input" type="text" name="job" ng-model="user.job" required>
          <label class="mdl-textfield__label" for="job">Job</label>
          <span ng-show="registerform.userName.$touched && registerform.userName.$invalid">Job is required</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="display: block; width:100%;">
          <input class="mdl-textfield__input" type="text" id="website" ng-model="user.website">
          <label class="mdl-textfield__label" for="website">Your business website</label>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="register()" ng-disabled="registerform.$invalid">
            Register!
          </button>
        <div id="g-signin2_register" class="g-signin2">
      </form>
    </div>
  </div>
</div>